<div ng-app="akva" ng-controller="BannersController">
    <h1>Баннеры</h1>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header" id="header">
                    <div class="row" style="display: flex; padding-left: 20px; justify-content: space-between; padding-right: 20px;">
                        <div style="width: 100%;">
                            <h3 class="box-title">Главный баннер</h3>
                        </div>
                        <button ng-hide="baddnew" class="btn btn-primary btn-sm" ng-click="addNew()" >Добавить баннер</button>
                        <button ng-show="baddnew" class="btn btn-primary btn-sm" ng-click="addNewItemToServer()">Сохранить</button>
                    </div>
                </div>
                <div class="box-body">
                    <div ng-if="selectedItem != null" id="parent-img" style="display: flex; justify-content: space-between;">
                        <div style="width: 500px; margin-right: 20px; display: flex; flex-direction: column; align-items: center;">
                            <img ng-show="url!=''" ng-src="{{url}}" ng-model="url" id="background_image" alt="antey" width="100%"/>
                            <div ng-hide="url!=''" style="background-color: lightgray; width: 300px; height: 200px; display: flex; justify-content: center; align-items: center;">
                                <em class="fa fa-file-picture-o" style="font-size: 80px;"></em>
                            </div>
                            <input type="file" id="upload_photo" class="btn btn-primary btn-xl" style="margin-top: 20px;"
                                onchange="angular.element(this).scope().photofileChanged(this)"
                                accept="image" 
                            />
                        </div>
                        <table id="allItems" class="table table-bordered table-striped" aria-label="">
                            <thead>
                                <tr>
                                    <th id="3">заглавие</th>
                                    <th id="4">Подзаголовок</th>
                                    <th id="5">Метка кнопки</th>
                                    <th id="6">Кнопка Ссылка</th>
                                    <th id="7">Активный</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;">Ru: <textarea style="width:100%" ng-model="selectedItem.titleRu"></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px">En: <textarea style="width:100%" ng-model="selectedItem.titleEn"></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px">Ua: <textarea style="width:100%" ng-model="selectedItem.titleUa"></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px">De: <textarea style="width:100%" ng-model="selectedItem.titleDe"></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px">Fr: <textarea style="width:100%" ng-model="selectedItem.titleFr"></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px">Pl: <textarea style="width:100%" ng-model="selectedItem.titlePl"></textarea></div>
                                    </td>
                                    <td>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px">Ru: <textarea style="width:100%" ng-model="selectedItem.subtitleRu"></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px">En: <textarea style="width:100%" ng-model="selectedItem.subtitleEn"></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px">Ua: <textarea style="width:100%" ng-model="selectedItem.subtitleUa"></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px">De: <textarea style="width:100%" ng-model="selectedItem.subtitleDe"></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px">Fr: <textarea style="width:100%" ng-model="selectedItem.subtitleFr"></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px">Pl: <textarea style="width:100%" ng-model="selectedItem.subtitlePl"></textarea></div>
                                    </td>
                                    <td>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px">Ru: <textarea style="width:100%" ng-model="selectedItem.btnTextRu"></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px">En: <textarea style="width:100%" ng-model="selectedItem.btnTextEn"></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px">Ua: <textarea style="width:100%" ng-model="selectedItem.btnTextUa"></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px">De: <textarea style="width:100%" ng-model="selectedItem.btnTextDe"></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px">Fr: <textarea style="width:100%" ng-model="selectedItem.btnTextFr"></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px">Pl: <textarea style="width:100%" ng-model="selectedItem.btnTextPl"></textarea></div>
                                    </td>
                                    <td><textarea style="width:100%" ng-model="selectedItem.btnurl"></textarea></td>
                                    <td><input ng-model="selectedItem.active" type="checkbox" ng-checked="selectedItem.active"/></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />

                    <table id="allItems" class="table table-bordered table-striped" aria-label="">
                        <thead>
                            <tr>
                                <th id="1">Номер</th>
                                <th id="2">Образ</a></th>
                                <th id="3">заглавие</th>
                                <th id="4">Подзаголовок</th>
                                <th id="5">Метка кнопки</th>
                                <th id="6">Кнопка Ссылка</th>
                                <th id="7">Активный</th>
                                <th id="8">Редактировать</th>
                                <th id="9">Удалить</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cust in filtered = (data | orderBy : predicate :reverse)">
                                <td>{{$index+1}}</td>
                                <td style="width: 150px; "><img ng-src="{{cust.img}}" width="100%" alt="antey"/></td>
                                <td>
                                    <div>Ru: {{cust.titleRu}}</div>
                                    <div>En: {{cust.titleEn}}</div>
                                    <div>Ua: {{cust.titleUa}}</div>
                                    <div>De: {{cust.titleDe}}</div>
                                    <div>Fr: {{cust.titleFr}}</div>
                                    <div>Pl: {{cust.titlePl}}</div>
                                </td>
                                <td>
                                    <div>Ru: {{cust.subtitleRu}}</div>
                                    <div>En: {{cust.subtitleEn}}</div>
                                    <div>Ua: {{cust.subtitleUa}}</div>
                                    <div>De: {{cust.subtitleDe}}</div>
                                    <div>Fr: {{cust.subtitleFr}}</div>
                                    <div>Pl: {{cust.subtitlePl}}</div>
                                </td>
                                <td>
                                    <div>Ru: {{cust.btnTextRu}}</div>
                                    <div>En: {{cust.btnTextEn}}</div>
                                    <div>Ua: {{cust.btnTextUa}}</div>
                                    <div>De: {{cust.btnTextDe}}</div>
                                    <div>Fr: {{cust.btnTextFr}}</div>
                                    <div>Pl: {{cust.btnTextPl}}</div>
                                </td>
                                <td>{{cust.btnurl}}</td>
                                <td><input ng-model="cust.active" type="checkbox" ng-checked="cust.active"/></td>
                                <td>
                                    <button ng-hide="editingData[cust.id]" class="btn btn-warning btn-sm" ng-click="modify(cust)">Изменить</button>
                                    <button ng-show="editingData[cust.id]" class="btn btn-success btn-sm" ng-click="update(cust)">Обновить</button>
                                </td>
                                <td style="display: flex; justify-content: center; align-items: center;"><a ng-click="handleDelete($index)"><em class="glyphicon glyphicon-remove"></em></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header" id="header-shop">
                    <div class="row" style="display: flex; padding-left: 20px; justify-content: space-between; padding-right: 20px;">
                        <div style="width: 100%;">
                            <h3 class="box-title">Магазин баннер</h3>
                        </div>
                        <div ng-show="baddnewshop" style="display: flex; align-items: center;">
                            <div style="width: 80px;">Banner Type:</div>
                            <select ng-model="selectedType" style="width: 100px; margin-right: 20px;">
                                <option>text</option>
                                <option>image</option>
                            </select>
                        </div>
                        <button ng-hide="baddnewshop" class="btn btn-primary btn-sm" ng-click="addNewShop()" >Добавить баннер</button>
                        <button ng-show="baddnewshop" class="btn btn-primary btn-sm" ng-click="addNewShopItemToServer()">Сохранить</button>
                        <button ng-show="shopselectedItem != null" class="btn btn-primary btn-sm" ng-click="addNewShopCancel()" style="margin-left: 20px;">отменить</button>
                    </div>
                </div>
                <div class="box-body">
                    <div ng-if="shopselectedItem != null" style="display: flex; justify-content: space-between;">
                        <div ng-show="selectedType=='image'" style="width: 500px; margin-right: 20px; display: flex; flex-direction: column; align-items: center;">
                            <img ng-show="shopurl !=''" ng-src="{{shopurl}}" ng-model="shopurl" alt="antey" width="100%"/>
                            <div ng-hide="shopurl !='' || selectedType == 'text'" style="background-color: lightgray; width: 300px; height: 200px; display: flex; justify-content: center; align-items: center;">
                                <em class="fa fa-file-picture-o" style="font-size: 80px;"></em>
                            </div>
                            <input ng-hide="selectedType == 'text'" type="file" class="btn btn-primary btn-xl" style="margin-top: 20px;"
                                onchange="angular.element(this).scope().shopPhotofileChanged(this)"
                                accept="image" 
                            />
                            
                        </div>
                        <table id="allItems" class="table table-bordered table-striped" aria-label="">
                            <thead>
                                <tr>
                                    <th id="3">заглавие</th>
                                    <th id="4">Услуги(Ru)</th>
                                    <th id="5">Услуги(En)</th>
                                    <th id="6">Услуги(Ua)</th>
                                    <th id="7">Услуги(De)</th>
                                    <th id="8">Услуги(Fr)</th>
                                    <th id="9">Услуги(Pl)</th>
                                    <th id="11">Ссылка</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;">Ru: <textarea style="width:100%" ng-model="shopselectedItem.titleRu"></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px">En: <textarea style="width:100%" ng-model="shopselectedItem.title"></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px">Ua: <textarea style="width:100%" ng-model="shopselectedItem.titleUa"></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px">De: <textarea style="width:100%" ng-model="shopselectedItem.titleDe"></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px">Fr: <textarea style="width:100%" ng-model="shopselectedItem.titleFr"></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px">Pl: <textarea style="width:100%" ng-model="shopselectedItem.titlePl"></textarea></div>
                                    </td>
                                    <td>
                                        <div ng-repeat="content in shopselectedItem.contentRu" style="display: flex; align-items: center; margin-bottom: 5px;">
                                            <textarea ng-if="content != ''" style="width:100%" ng-model="content"></textarea>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-repeat="content in shopselectedItem.content" style="display: flex; align-items: center; margin-bottom: 5px;">
                                            <textarea  ng-if="content != ''" style="width:100%" ng-model="content"></textarea>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-repeat="content in shopselectedItem.contentUa" style="display: flex; align-items: center; margin-bottom: 5px;">
                                            <textarea ng-if="content != ''" style="width:100%" ng-model="content"></textarea>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-repeat="content in shopselectedItem.contentDe" style="display: flex; align-items: center; margin-bottom: 5px;">
                                            <textarea ng-if="content != ''"  style="width:100%" ng-model="content"></textarea>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-repeat="content in shopselectedItem.contentFr" style="display: flex; align-items: center; margin-bottom: 5px;">
                                            <textarea ng-if="content != ''"  style="width:100%" ng-model="content"></textarea>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-repeat="content in shopselectedItem.contentPl" style="display: flex; align-items: center; margin-bottom: 5px;">
                                            <textarea ng-if="content != ''"  style="width:100%" ng-model="content"></textarea>
                                        </div>
                                    </td>
                                    <td><textarea style="width:100%" ng-model="shopselectedItem.url"></textarea></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />

                    <table id="allItems" class="table table-bordered table-striped" aria-label="">
                        <thead>
                            <tr>
                                <th id="1">Номер</th>
                                <th id="2">Образ</a></th>
                                <th id="3">заглавие</th>
                                <th id="4">Услуги(Ru)</th>
                                <th id="5">Услуги(En)</th>
                                <th id="6">Услуги(Ua)</th>
                                <th id="7">Услуги(De)</th>
                                <th id="8">Услуги(Fr)</th>
                                <th id="9">Услуги(Pl)</th>
                                <th id="10">Тип</th>
                                <th id="11">Ссылка</th>
                                <th id="12">Редактировать</th>
                                <th id="13">Удалить</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cust in filtered = (shopdata | orderBy : predicate :reverse)">
                                <td>{{$index+1}}</td>
                                <td style="width: 150px; "><img ng-if="cust.type == 'image'" ng-src="{{cust.img}}" width="100%" alt="antey"/></td>
                                <td>
                                    <div>Ru: {{cust.titleRu}}</div>
                                    <div>En: {{cust.title}}</div>
                                    <div>Ua: {{cust.titleUa}}</div>
                                    <div>De: {{cust.titleDe}}</div>
                                    <div>Fr: {{cust.titleFr}}</div>
                                    <div>Pl: {{cust.titlePl}}</div>
                                </td>
                                <td>
                                    <div ng-repeat="content in cust.contentRu">
                                        <h6 ng-if="content != ''" ng-model="content">Service {{$index + 1}}: {{content}}</h6>
                                    </div>
                                </td>
                                <td>
                                    <div ng-repeat="content in cust.content">
                                        <h6 ng-if="content != ''">Service {{$index + 1}}: {{content}}</h6>
                                    </div>
                                </td>
                                <td>
                                    <div ng-repeat="content in cust.contentUa">
                                        <h6 ng-if="content != ''">Service {{$index + 1}}: {{content}}</h6>
                                    </div>
                                </td>
                                <td>
                                    <div ng-repeat="content in cust.contentDe">
                                        <h6 ng-if="content != ''">Service {{$index + 1}}: {{content}}</h6>
                                    </div>
                                </td>
                                <td>
                                    <div ng-repeat="content in cust.contentFr">
                                        <h6 ng-if="content != ''">Service {{$index + 1}}: {{content}}</h6>
                                    </div>
                                </td>
                                <td>
                                    <div ng-repeat="content in cust.contentPl">
                                        <h6 ng-if="content != ''">Service {{$index + 1}}: {{content}}</h6>
                                    </div>
                                </td>
                                <td>{{cust.type}}</td>
                                <td>{{cust.url}}</td>
                                <td>
                                    <button ng-hide="editingShopData[cust.id]" class="btn btn-warning btn-sm" ng-click="modifyshop(cust)">Изменить</button>
                                    <button ng-show="editingShopData[cust.id]" class="btn btn-success btn-sm" ng-click="updateshop(cust)">Обновить</button>
                                </td>
                                <td style="display: flex; justify-content: center; align-items: center;"><a ng-click="handleShopDelete($index)"><em class="glyphicon glyphicon-remove"></em></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header" id="header-shop">
                    <div class="row" style="display: flex; padding-left: 20px; justify-content: space-between; padding-right: 20px;">
                        <div style="width: 100%;">
                            <h3 class="box-title">Раздел баннер</h3>
                        </div>
                        <div style="display: flex; align-items: center;">
                            <div style="width: 120px;">Выберите раздел: </div>
                            <select ng-model="selectedCategory" style="width: 100px; margin-right: 20px;" ng-change="handleCategoryInSectionChange()">
                                <option ></option>
                                <option ng-repeat="item in sectionCategory" value="{{item.id}}"> {{locale.ru[item.name]}} </option>
                            </select>
                            <div style="width: 120px;">Выберите раздел: </div>
                            <select ng-model="selectedSection" style="width: 100px; margin-right: 20px;" ng-change="handleSectionChange()">
                                <option ng-repeat="sec in section">{{sec.ru}}</option>
                            </select>
                        </div>
                        
                    </div>
                </div>
                <div class="box-body">
                    <div>
                        <table id="allItems" class="table table-bordered table-striped" aria-label="">
                            <thead>
                                <tr>
                                    <th id="3">заглавие</th>
                                    <th id="4">Подзаголовок</th>
                                    <th id="5">Описание1</th>
                                    <th id="6">Описание2</th>
                                    <th id="7">Описание3</th>
                                    <th id="8">Нижний колонтитул</th>
                                    <th id="9">Цена</th>
                                    <th id="11">Скидка</th>
                                    <th id="12">Активный</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">Ru: {{locale.ru[sectiondata.title]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-show="bsectionEdit">Ru: <textarea style="width:100%" ng-model="locale.ru[sectiondata.title]" ></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">En: {{locale.en[sectiondata.title]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px" ng-show="bsectionEdit">En: <textarea style="width:100%" ng-model="locale.en[sectiondata.title]"  ></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">Ua: {{locale.ua[sectiondata.title]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px" ng-show="bsectionEdit">Ua: <textarea style="width:100%" ng-model="locale.ua[sectiondata.title]" ></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">De: {{locale.de[sectiondata.title]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px" ng-show="bsectionEdit">De: <textarea style="width:100%" ng-model="locale.de[sectiondata.title]" ></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">Fr: {{locale.fr[sectiondata.title]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px" ng-show="bsectionEdit">Fr: <textarea style="width:100%" ng-model="locale.fr[sectiondata.title]" ></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">Pl: {{locale.pl[sectiondata.title]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px" ng-show="bsectionEdit">Pl: <textarea style="width:100%" ng-model="locale.pl[sectiondata.title]" ></textarea></div>
                                    </td>
                                    <td>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">Ru: {{locale.ru[sectiondata.header]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-show="bsectionEdit">Ru: <textarea style="width:100%" ng-model="locale.ru[sectiondata.header]" ></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">En: {{locale.en[sectiondata.header]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px" ng-show="bsectionEdit">En: <textarea style="width:100%" ng-model="locale.en[sectiondata.header]" ></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">Ua: {{locale.ua[sectiondata.header]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px" ng-show="bsectionEdit">Ua: <textarea style="width:100%" ng-model="locale.ua[sectiondata.header]" ></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">De: {{locale.de[sectiondata.header]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px" ng-show="bsectionEdit">De: <textarea style="width:100%" ng-model="locale.de[sectiondata.header]" ></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">Fr: {{locale.fr[sectiondata.header]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px" ng-show="bsectionEdit">Fr: <textarea style="width:100%" ng-model="locale.fr[sectiondata.header]" ></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">Pl: {{locale.pl[sectiondata.header]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px" ng-show="bsectionEdit">Pl: <textarea style="width:100%" ng-model="locale.pl[sectiondata.header]" ></textarea></div>
                                    </td>
                                    <td ng-repeat="content in sectiondata.description">
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">Ru: {{locale.ru[content]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-show="bsectionEdit">Ru: <textarea style="width:100%" ng-model="locale.ru[content]" ></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">En: {{locale.en[content]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px" ng-show="bsectionEdit">En: <textarea style="width:100%" ng-model="locale.en[content]" ></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">Ua: {{locale.ua[content]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px" ng-show="bsectionEdit">Ua: <textarea style="width:100%" ng-model="locale.ua[content]" ></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">De: {{locale.de[content]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px" ng-show="bsectionEdit">De: <textarea style="width:100%" ng-model="locale.de[content]" ></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">Fr: {{locale.fr[content]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px" ng-show="bsectionEdit">Fr: <textarea style="width:100%" ng-model="locale.fr[content]" ></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">Pl: {{locale.pl[content]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px" ng-show="bsectionEdit">Pl: <textarea style="width:100%" ng-model="locale.pl[content]" ></textarea></div>
                                    </td>
                                    <td>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">Ru: {{locale.ru[sectiondata.footer]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-show="bsectionEdit">Ru: <textarea style="width:100%" ng-model="locale.ru[sectiondata.footer]" ></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">En: {{locale.en[sectiondata.footer]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px"  ng-show="bsectionEdit">En: <textarea style="width:100%" ng-model="locale.en[sectiondata.footer]" ></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">Ua: {{locale.ua[sectiondata.footer]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px"  ng-show="bsectionEdit">Ua: <textarea style="width:100%" ng-model="locale.ua[sectiondata.footer]" ></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">De: {{locale.de[sectiondata.footer]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px"  ng-show="bsectionEdit">De: <textarea style="width:100%" ng-model="locale.de[sectiondata.footer]" ></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">Fr: {{locale.fr[sectiondata.footer]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px"  ng-show="bsectionEdit">Fr: <textarea style="width:100%" ng-model="locale.fr[sectiondata.footer]" ></textarea></div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">Pl: {{locale.pl[sectiondata.footer]}}</div>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px"  ng-show="bsectionEdit">Pl: <textarea style="width:100%" ng-model="locale.pl[sectiondata.footer]" ></textarea></div>
                                    </td>
                                    <td>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">{{sectiondata.price}}</div>
                                        <textarea style="width:100%" ng-model="sectiondata.price" ng-show="bsectionEdit"></textarea>
                                    </td>
                                    <td>
                                        <div style="display: flex; align-items: center; margin-bottom: 5px;" ng-hide="bsectionEdit">{{sectiondata.discount}}</div>
                                        <textarea style="width:100%" ng-model="sectiondata.discount" ng-show="bsectionEdit"></textarea>
                                    </td>
                                    <td><input ng-model="sectiondata.active" type="checkbox" ng-checked="sectiondata.active"/></td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="display: flex; justify-content: flex-end;">
                            <button ng-hide="bsectionEdit" class="btn btn-warning btn-sm" ng-click="handleSectionEdit()">Изменить</button>
                            <button ng-show="bsectionEdit" class="btn btn-success btn-sm" ng-click="handleSectionUpdate()">Обновить</button>
                            <button class="btn btn-primary btn-sm" ng-click="addNewSectionCancel()" style="margin-left: 20px;" ng-show="bsectionEdit">отменить</button>
                        </div>
                    </div>
                    <br />
                    <div style="width: 100%; height: 2px; background-color: grey; margin-bottom: 20px;" ng-show="bsectionEdit"></div>
                    <div style="display: flex; flex-direction: row; justify-content: space-between;" ng-show="bsectionEdit">
                        <div ng-repeat="img in sectiondata.images" style=" margin-right: 20px; display: flex; flex-direction: column; align-items: center; justify-content: space-between;">
                            <img ng-src="{{img.url}}" ng-model="img.url" alt="antey" width="100%"/>
                            <div ng-hide="img.url !=''" style="background-color: lightgray; width: 300px; height: 200px; display: flex; justify-content: center; align-items: center;">
                                <em class="fa fa-file-picture-o" style="font-size: 80px;"></em>
                            </div>
                            <input type="file" class="btn btn-primary btn-xl" style="margin-top: 20px;" ng-click="imageBtnClick($index)"
                                onchange="angular.element(this).scope().sectionPhotofileChanged(this)"
                                accept="image" 
                            />
                        </div>
                    </div>
                    <div style="display: flex; justify-content: flex-end; margin-top: 10px;" ng-show="bsectionEdit">
                        <button class="btn btn-success btn-sm" ng-click="handleSectionImageUpdate()" >Обновить</button>
                    </div>
                    <br />
                    <div style="width: 100%; height: 2px; background-color: grey; margin-bottom: 20px;" ng-show="bsectionEdit"></div>
                    <div style="display: flex; flex-direction: row; justify-content: space-between; overflow-y: hidden; overflow-x: auto; padding: 20px;" ng-show="bsectionEdit">
                        <div ng-repeat="img in sectiondata.categories" style=" margin-right: 20px; display: flex; flex-direction: column; align-items: center; justify-content: space-between;">
                            <img ng-src="{{img.imgurl}}" ng-model="img.imgurl" alt="antey" width="100%"/>
                            <div ng-hide="img.imgurl !=''" style="background-color: lightgray; width: 300px; height: 200px; display: flex; justify-content: center; align-items: center;">
                                <em class="fa fa-file-picture-o" style="font-size: 80px;"></em>
                            </div>
                            <input type="file" class="btn btn-primary btn-xl" style="margin-top: 20px;" ng-click="cateImageBtnClick($index)"
                                onchange="angular.element(this).scope().sectionCatePhotofileChanged(this)"
                                accept="image" 
                            />
                        </div>
                    </div>
                    <div style="display: flex; justify-content: flex-end; margin-top: 10px;" ng-show="bsectionEdit">
                        <button class="btn btn-success btn-sm" ng-click="handleCategoryImageUpdate()" >Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>