<div ng-app="akva" ng-controller="DiscountController">
    <h1>Скидки</h1>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Список скидок</h3>
                    <div class="row">
                        <div class="col-md-2">Размер страницы:
                            <select ng-model="entryLimit" class="form-control">
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                                <option>50</option>
                                <option>100</option>
                                <option>200</option>
                            </select>
                        </div>
                        <div class="col-md-3">Фильтр:
                            <input type="text" ng-model="search" ng-change="filter()" placeholder="Поиск скидки..." class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <h5>Найдено {{ filtered.length }} из {{ totalItems}} промокодов</h5>
                        </div>
                    </div>
                    <div class="text-right">
                        <span><span ng-if="recentLoading">загрузка</span>Страница {{(currentPage )}} </span>
                        <button class="btn btn-primary btn-xs" ng-class="{ 'disabled': currentPage <= 0 }" ng-click="setPage(currentPage - 1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
                        <button class="btn btn-primary btn-xs" ng-click="setPage(currentPage + 1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
                    </div>
                    <div class="col-md-12" ng-show="filteredItems > 0">
                        <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>
                    </div>
                    <br />
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="allItems" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>ID скидки<a ng-click="predicate='id'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a> </th>
                            <th>Промокод<a ng-click="predicate='code'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                            <th>Размер скидки<a ng-click="predicate='discount'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                            <th>Создан&nbsp;<a ng-click="predicate='created'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                            <th>Обновлён&nbsp<a ng-click="predicate='modified'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                             <th style="width:5%">Изменить</th>
                             <th style="width:5%">Удалить</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="disc in filtered = (discounts | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                            <td>{{disc.id}}</td>
                            <td>
                                <div ng-hide="editingData[disc.id]">{{disc.code}}</div>
                                <div ng-show="editingData[disc.id]">
                                    <textarea style="width:100%" ng-model="disc.code"></textarea>
                                </div></td>
                            </td>
                            <td>
                                <div ng-hide="editingData[disc.id]">{{disc.discount}}</div>
                                <div ng-show="editingData[disc.id]">
                                    <textarea style="width:100%" ng-model="disc.discount"></textarea>
                                </div></td>
                            <td>{{disc.created}}</td>
                            <td>{{disc.modified}}</td>
                            <td>
                                <button ng-hide="editingData[disc.id]" class="btn btn-warning btn-sm" ng-click="modify(disc)">Изменить</button>
                                <button ng-show="editingData[disc.id]" class="btn btn-success btn-sm" ng-click="update(disc)">Обновить</button>
                            </td>
                            <td>
                                <button  class="btn btn-danger btn-sm" ng-click="delete(disc)">Удалить</button>
                            </td>
                        </tr>
                        </tbody>
                        <!--</tfoot>-->
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</div>