<div ng-app="wifi" ng-controller="MrkTemplateEditController">
    <h1>Hotspot editieren: {{id}}</h1>
    <h3>TLA: {{tla}}</h3>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <td class="action-column">
                        <button type="button" class="btn btn-default btn-sm pull-right" ng-click="Cancel()">Zurück</button>
                    </td>
                    <br/>
                    <h4>Allgemeine Info</h4>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label for="id">ID</label>
                                <input type="text" class="form-control" id="id" ng-readonly="id" ng-model="id" />
                            </div>
                        </div>
                        <!--                         <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label for="networkname">MRK-Netzwerkname</label>
                                <input type="text" class="form-control" id="networkname" ng-model="networkname" ng-disabled="true"  />
                            </div>
                        </div> -->
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label for="groupname">Groupname</label>
                                <input type="text" class="form-control" id="groupname" ng-model="groupname" />
                            </div>
                        </div>
                        <!-- Optional: clear the XS cols if their content doesn't match in height -->
                        <div class="clearfix hidden-sm-up">
                        </div>
                    </div>
                    <!--<div class="form-group">
        <label for="extContractId ">ARC Nummer</label>
        <input type="text" class="form-control" id="extContractId " ng-readonly="extContractId " ng-model="extContractId " />
    </div>-->
                    <br>
                    <h4>Hotspotfinder Info</h4>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label for="redirecturl">Redirect URL</label>
                                <input type="text" class="form-control" id="redirecturl" ng-model="redirecturl" ng-model="lastChangedBy" />
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label for="visible">Visible ({{visible}})</label>
                                <select class="form-control" ng-model="visible">
                                    <option value="true">enable</option>
                                    <option value="false">disable</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" ng-model="name" ng-model="name" />
                            </div>
                        </div>
                        <!-- Optional: clear the XS cols if their content doesn't match in height -->
                        <div class="clearfix hidden-sm-up"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label for="hftype">Hotspotfindertype ({{hftype}})</label>
                                <select class="form-control" ng-model="hftype">
                                    <option value="2">indoor</option>
                                    <option value="1">outdoor</option>
                                    <option value="0">not defined</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label for="welcometxt">Welcome Text</label>
                                <input type="text" class="form-control" id="welcometxt" ng-model="welcometxt" ng-model="welcometxt" />
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label for="welcomelnk">Welcome Link</label>
                                <input type="text" class="form-control" id="welcomelnk" ng-model="welcomelnk" ng-model="welcomelnk" />
                            </div>
                        </div>
                        <div class="clearfix hidden-sm-up"></div>
                    </div>
                    <br>
                    <h4>Features</h4>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group" ng-show="permissions.features.edit_bpjmfilter = 'allow'">
                                <label for="bpjmfilter">Jugendschutfilter ({{bpjmfilter}})</label>
                                <select class="form-control" ng-model="bpjmfilter">
                                    <option value="true">enable</option>
                                    <option value="false">disable</option>
                                    <option value="null">not defined</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group" ng-show="permissions.features.edit_disabled = 'allow'">
                                <label for="disable">Hotspot deaktivieren ({{disable}})</label>
                                <select class="form-control" ng-model="disable">
                                    <option value="true">enable</option>
                                    <option value="false">disable</option>
                                    <option value="null">not defined</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group" ng-show="permissions.features.edit_block_neighbors = 'allow'">
                                <label for="block_neighbors">Anrainermissbrauch ({{block_neighbors}})</label>
                                <select class="form-control" ng-model="block_neighbors">
                                    <option value="true">enable</option>
                                    <option value="false">disable</option>
                                    <option value="null">not defined</option>
                                </select>
                            </div>
                        </div>
                        <!-- Optional: clear the XS cols if their content doesn't match in height -->
                        <div class="clearfix hidden-sm-up"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label for="bw_upload">Max. Upload (Kilobits pro Sekunde)</label>
                                <input type="text" class="form-control" id="bw_upload" ng-model="bw_upload" />
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label for="bw_download">Max. Download (Kilobits pro Sekunde)</label>
                                <input type="text" class="form-control" id="bw_download" ng-model="bw_download" />
                            </div>
                        </div>
                        <!-- Optional: clear the XS cols if their content doesn't match in height -->
                        <div class="clearfix hidden-sm-up"></div>
                    </div>
                    <h4>Adresse</h4>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label for="street">Straße</label>
                                <input type="text" class="form-control" id="street" ng-model="street" ng-model="street" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label for="zipCode">PLZ</label>
                                <input type="text" class="form-control" id="zipCode" ng-model="zipCode" ng-model="zipCode" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label for="city">Stadt</label>
                                <input type="text" class="form-control" id="city" ng-model="city " ng-model="city " ng-disabled="true" />
                            </div>
                        </div>
                        <!-- Optional: clear the XS cols if their content doesn't match in height -->
                        <div class="clearfix hidden-sm-up"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group disabled">
                                <label for="lat">Latitude</label>
                                <input type="text" class="form-control" id="lat" ng-model="lat" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group disabled">
                                <label for="lng">Longitude</label>
                                <input type="text" class="form-control" id="lng" ng-model="lng" ng-disabled="true" />
                            </div>
                        </div>
                        <!-- Optional: clear the XS cols if their content doesn't match in height -->
                        <div class="clearfix hidden-sm-up"></div>
                    </div>
                    <!--<div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label for="type">Type</label>
                                <select class="form-control" ng-model="type">
                                    <option>2</option>
                                    <option>1</option>
                                    <option>Outdoor</option>
                                    <option>Indoor</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix hidden-sm-up"></div>
                    </div>-->
                    <br>
                    <h4>Additional Settings</h4>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label for="password_details">Password details</label>
                                <input type="text" class="form-control" id="password_details" ng-model="password_details" ng-model="password_details" />
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label for="password_expression">Password expression</label>
                                <input type="text" class="form-control" id="password_expression" ng-model="password_expression" ng-model="password_expression" />
                            </div>
                        </div>
                        <!--                         <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label for="city">Stadt</label>
                                <input type="text" class="form-control" id="city" ng-model="city " ng-model="city " ng-disabled="true" />
                            </div>
                        </div> -->
                        <!-- Optional: clear the XS cols if their content doesn't match in height -->
                        <div class="clearfix hidden-sm-up"></div>
                    </div>
                    <br>
                    <h4>Login Profiles</h4>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label for="vodafone_login">Vodafone Login({{vodafone_login}})</label>
                                <select class="form-control" ng-model="allow_vodafone_login">
                                    <option value="true">enable</option>
                                    <option value="false">disable</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label for="allow_payment_options">Adhoc Payment({{payment_options}})</label>
                                <select class="form-control" ng-model="allow_payment_options">
                                    <option value="true">enable</option>
                                    <option value="false">disable</option>
                                </select>
                            </div>
                        </div>
                        <!--                         <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label for="city">Stadt</label>
                                <input type="text" class="form-control" id="city" ng-model="city " ng-model="city " ng-disabled="true" />
                            </div>
                        </div> -->
                        <!-- Optional: clear the XS cols if their content doesn't match in height -->
                        <div class="clearfix hidden-sm-up"></div>
                    </div>
                    <br>
                    <h4>Änderungsinfo</h4>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label for="lastChangedBy">Geändert durch</label>
                                <input type="text" class="form-control" id="lastChangedBy" ng-disabled="true" ng-model="lastChangedBy" />
                            </div>
                        </div>
                        <!--<div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label for="lastChangedBy">Changed by</label>
                                <select class="form-control" ng-model="lastChandedBy" id="lastChangedBy">
                                    <option>CTO Testing</option>
                                    <option>PM</option>
                                    <option>Betrieb</option>
                                    <option>Change</option>
                                </select>
                            </div>
                        </div>-->
                        <!-- Optional: clear the XS cols if their content doesn't match in height -->
                        <div class="clearfix hidden-sm-up"></div>
                    </div>
                    <!-- <div class="form-group">
        <label for="visible">Sichtbar:</label>
        <select class="form-control" ng-model="visible">
            <option>1</option>
            <option>0</option>
        </select>
    </div>-->
                    <td class="action-column">
                        <button type="button" class="btn btn-warning btn-sm" ng-click="Cancel()">Abbrechen</button>
                    </td>
                    <td class="action-column">
                        <button type="button" class="btn btn-info btn-sm" ng-click="SaveChanges(tmpl.id)">Speichern</button>
                    </td>
                </div>
            </div>
        </div>
    </div>
</div>