<div class="login-box"  ng-controller="LoginController">
  <div class="login-box-body">
    <h2 class="login-box-msg" >Вход</h2>

    <form>
      <div class="form-group has-feedback">
        <input type="email" ng-model="email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" ng-model="password" class="form-control" placeholder="Пароль">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck" style="margin-left: 20px;">
            <label>
              <!-- <input type="checkbox"> Remember Me -->
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="login()">Войти</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <!-- <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a class="btn btn-block btn-social btn-facebook btn-flat" ng-click="facebook_login()"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a class="btn btn-block btn-social btn-google btn-flat" ng-click="google_login()"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div> -->
    <!-- /.social-auth-links -->

    <!-- <a >I forgot my password</a><br> -->
    <a href="#/register" class="text-center">Регистрация</a>

  </div>
</div>