<div ng-app="akva" ng-controller="OrderDetailsController">
    <h1>Заказ</h1>
    <h3>Информация о заказе: {{order.orderID}} </h3>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
<!--                    <div class="row">-->
<!--                        <div class="col-md-12">-->
<!--                            <h4>Информация</h4>-->
<!--                            <table class="table">-->
<!--                                <tbody>-->
<!--                                	<tr>-->
<!--                                        <td>Дата заказа</td>-->
<!--                                        <td><strong>{{order.orderDate}}</strong></td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td>Cтатус заказа</td>-->
<!--                                        <td><strong>{{order.status}}</strong></td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td>Метод оплаты</td>-->
<!--                                        <td><strong>{{order.paymentID}} - {{order.paymentMethod}}</strong></td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td>Сумма заказа</td>-->
<!--                                        <td><strong>{{order.amount}} {{order.currency}}</strong></td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td>Клиент</td>-->
<!--                                        <td><strong>{{order.customerName}}</strong></td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td>Адрес доставки</td>-->
<!--                                        <td><strong>{{order.shipAddress}}</strong></td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td>Телефон</td>-->
<!--                                        <td><strong>{{order.customerPhone}}</strong></td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td>Не перезванивать</td>-->
<!--                                        <td><strong>{{order.notCall}}</strong></td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td>Комментарий к заказу</td>-->
<!--                                        <td><strong>{{order.notice}}</strong></td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td>Эл.почта</td>-->
<!--                                        <td><strong>{{order.customerEmail}}</strong></td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td>Метод доставки</td>-->
<!--                                        <td><strong>{{order.shipperCompany}}</strong></td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td>Трекинг</td>-->
<!--                                        <td><strong>{{order.trackingNumber}}</strong></td>-->
<!--                                    </tr>-->
<!--                                </tbody>-->
<!--                            </table>-->
<!--                        </div>-->
<!--                    </div>-->
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Информация</h4>
                            <table class="table table-hover table-bordered table-striped" bs-table>
                                <thead>
                                <tr>
                                    <th>Дата заказа</th>
                                    <th>Клиент&nbsp</th>
                                    <th>Телефон</th>
                                    <th>Эл.почта</th>
                                    <th>Сумма заказа</th>
                                    <th>Способ оплаты</th>
                                    <th>Метод доставки</th>
                                    <th>Адрес доставки</th>
                                    <th>Cтатус заказа</th>
                                    <th>Не перезванивать</th>
                                    <th>Комментарий к заказу</th>
                                    <th>Трекинг</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr >
                                    <td>{{order.orderDate}}</td>
                                    <td>{{order.customerName}}</td>
                                    <td>{{order.customerPhone}}</td>
                                    <td>{{order.customerEmail}}</td>
                                    <td>{{order.amount}} {{order.currency}}</td>
                                    <td>{{order.paymentID}} - {{order.paymentMethod}}</td>
                                    <td>{{order.shipperCompany}}</td>
                                    <td>{{order.shipAddress}}</td>
                                    <td>{{order.status}}</td>
                                    <td>{{order.notCall}}</td>
                                    <td>{{order.notice}}</td>
                                    <td>{{order.trackingNumber}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12" ng-show="totalItems > 0">
                            <br />
                            <br />
                            <h4>Детали заказа</h4>
                            <table class="table table-hover table-bordered table-striped" bs-table>
                                <thead>
                                    <tr>
<!--                                    <th style="width: 16px"></th>
                                        <th style="width: 16px"></th>
                                        <th style="width: 16px"></th> -->
                                        <th>MPN</th>
                                        <th>SKU</th>
                                        <th>Наименование</th>
                                        <th>Производитель</th>
                                        <th>Количество&nbsp;</th>
                                        <th>Цена</th>
                                        <th>Трекинг</th>
                                        <th>Статус</th>
                                        <th>Обновлен&nbsp;<a ng-click="predicate='updated'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                        <th style="width:5%">Редактировать</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in items">
<!--                                    	<td><a href="#/product/{{item.sku}}">{{item.mpn}}</a></td>-->
                                        <td>{{item.mpn}}</td>
                                        <td>{{item.sku}}</td>
                                        <td>{{item.title}}</td>
                                        <td>{{item.brand}}</td>
                                        <td>{{item.quantity}}</td>
                                        <td>{{item.price}}</td>
                                        <td>
                                            <div ng-hide="editingData[item.id]">{{item.trackingId}}</div>
                                            <div ng-show="editingData[item.id]">
                                                <textarea style="width:100%" ng-model="item.trackingId"></textarea>
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-hide="editingData[item.id]">{{item.status}}</div>
                                            <div ng-show="editingData[item.id]">
                                                <select ng-model="stat" ng-change="handleStatusChange(stat)" class="form-control">
                                                    <option ng-repeat="stat in status" >{{stat.status}}</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>{{item.updated}}</td>
                                        <td>
                                            <button ng-hide="editingData[item.id]" class="btn btn-warning btn-sm" ng-click="modify(item)">Изменить</button>
                                            <button ng-show="editingData[item.id]" class="btn btn-success btn-sm" ng-click="update(item)">Обновить</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12" ng-show="totalItems == 0">
                            <div class="col-md-12">
                                <h4>Не найдены товары заказа...</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>