<div ng-app="akva" ng-controller="OrdersAllController">
    <h1>Продажи</h1>
    <h3>Cписок всех заказов</h3>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <br/>
                    <hr>
                    <div class="row" ng-show="filteredItems => 0">
                        <div class="col-md-2">Заказов на странице:
                            <select ng-model="entryLimit" class="form-control">
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                                <option>50</option>
                                <option>100</option>
                                <option>200</option>
                            </select>
                        </div>
                        <div class="col-md-3">Фильтр:
                            <input type="text" ng-model="search" ng-change="filter()" placeholder="Поиск..." class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <h5>Найдено {{ filtered.length }} из {{ totalItems}} заказов</h5>
                        </div>
                    </div>
                    <div class="text-right" ng-show="filteredItems > 0">
                        <span><span ng-if="recentLoading">Загрузка</span>Страница {{(currentPage )}} </span>
                        <button class="btn btn-primary btn-xs" ng-class="{ 'disabled': currentPage <= 0 }" ng-click="setPage(currentPage - 1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
                        <button class="btn btn-primary btn-xs" ng-click="setPage(currentPage + 1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
                    </div>
                    <div class="col-md-12" ng-show="filteredItems > 0">
                        <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>
                    </div>
                </div>
                <br/>
                <div class="box-body">
                    <div class="col-md-12" ng-show="filteredItems > 0">
                        <table id="adhocTickets" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <!--                                    <th>Заказ ID&nbsp;<a ng-click="predicate='orderNumber'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>-->
                                <th>Номер заказа&nbsp;<a ng-click="predicate='orderNumber'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Создан<a ng-click="predicate='created'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Обновлен<a ng-click="predicate='created'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Имя&nbsp;<a ng-click="predicate='name'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Фамилия&nbsp;<a ng-click="predicate='surname'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Телефон&nbsp;<a ng-click="predicate='customerPhone'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Cумма&nbsp;<a ng-click="predicate='amount'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <!--                                    <th>Валюта&nbsp;<a ng-click="predicate='currency'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>-->
                                <th>Способ оплаты<a ng-click="predicate='paymentID'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Тип доставки&nbsp;<a ng-click="predicate='shipperCompany'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Город<a ng-click="predicate='city'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Отдел/Адрес<a ng-click="predicate='department'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Статус заказа<a ng-click="predicate='status'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <!--                                    <th>Трекинг<a ng-click="predicate='trackingNumber'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>-->
                                <th>Сумма оплаты<a ng-click="predicate='paid'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th style="width:5%">Редактировать</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="order in filtered = (orders | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <!--                                    <td>{{order.orderNumber}}</td>-->
                                <td><a target="_blank" href="#/order-details/{{order.orderNumber}}">{{order.orderNumber}}</a></td>
                                <td>{{order.created}}</td>
                                <td>{{order.modified}}</td>
                                <!-- <td><a target="_blank" href="#/customer/{{order.customerID}}">{{order.customerName}}</a></td> -->
                                <!--                                    <td>-->
                                <!--                                        <div ng-hide="editingData[order.customerName]">{{order.customerName}}</div>-->
                                <!--                                        <div ng-show="editingData[order.customerName]">-->
                                <!--                                            <textarea style="width:100%" ng-model="order.customerName"></textarea>-->
                                <!--                                        </div>-->
                                <!--                                    </td>-->
                                <!--                                    <td>{{order.customerName}}</td>-->
                                <td>
                                    <div ng-hide="editingData[order.orderNumber]">{{order.name}}</div>
                                    <div ng-show="editingData[order.orderNumber]">
                                        <textarea style="width:100%" ng-model="order.name"></textarea>
                                    </div>
                                </td>
                                <td>
                                    <div ng-hide="editingData[order.orderNumber]">{{order.surname}}</div>
                                    <div ng-show="editingData[order.orderNumber]">
                                        <textarea style="width:100%" ng-model="order.surname"></textarea>
                                    </div>
                                </td>
                                <td>
                                    <div ng-hide="editingData[order.orderNumber]">{{order.customerPhone}}</div>
                                    <div ng-show="editingData[order.orderNumber]">
                                        <textarea style="width:100%" ng-model="order.customerPhone"></textarea>
                                    </div>
                                </td>
                                <td>{{order.amount}}</td>
                                <!--                                    <td>{{order.currency}}</td>-->
                                <!--                                    <td>{{order.paymentID}} - {{order.paymentMethod}}</td>-->
                                <!--                                    <td>{{order.shipperCompany}}</td>-->
                                <!--                                    <td>{{order.shipAddress}}</td>-->
                                <td>
                                    <div ng-hide="editingData[order.orderNumber]">{{order.paymentID}}-{{order.paymentMethod}}</div>
                                    <div ng-show="editingData[order.orderNumber]">
                                        <select ng-model="payment" ng-change="handlePaymentChange(payment)" class="form-control">
                                            <option ng-repeat="payment in payments" >{{payment.payMethod}}</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div ng-hide="editingData[order.orderNumber]">{{order.shipperCompany}}</div>
                                    <div ng-show="editingData[order.orderNumber]">
                                        <select ng-model="shipper" ng-change="handleShipperChange(shipper)" class="form-control">
                                            <option ng-repeat="shipper in shippers" >{{shipper.name}}</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div ng-hide="editingData[order.orderNumber]">{{order.city}}</div>
                                    <div ng-show="editingData[order.orderNumber]">
                                        <textarea style="width:100%" ng-model="order.city"></textarea>
                                    </div>
                                </td>
                                <td>
                                    <div ng-hide="editingData[order.orderNumber]">{{order.department}}</div>
                                    <div ng-show="editingData[order.orderNumber]">
                                        <textarea style="width:100%" ng-model="order.department"></textarea>
                                    </div>
                                </td>
                                <td>
                                    <div ng-hide="editingData[order.orderNumber]">{{order.status}}</div>
                                    <div ng-show="editingData[order.orderNumber]">
                                        <select ng-model="stat" ng-change="handleStatusChange(stat)" class="form-control">
                                            <option ng-repeat="stat in status" >{{stat.status}}</option>
                                        </select>
                                    </div>
                                </td>
                                <!--                                    <td>-->
                                <!--                                        <div ng-hide="editingData[order.orderNumber]">{{order.trackingNumber}}</div>-->
                                <!--                                        <div ng-show="editingData[order.orderNumber]">-->
                                <!--                                            <textarea style="width:100%" ng-model="order.trackingNumber"></textarea>-->
                                <!--                                        </div>-->
                                <!--                                    </td>-->
                                <td>
                                    <div ng-hide="editingData[order.orderNumber]">{{order.paid}}</div>
                                    <div ng-show="editingData[order.orderNumber]">
                                        <!--                                            <select ng-model="test" ng-change="handlePayChange(test)" class="form-control">-->
                                        <!--                                                <option value="Да">Да</option>-->
                                        <!--                                                <option value="Нет">Нет</option>-->
                                        <!--                                            </select>-->
                                        <div ng-show="editingData[order.orderNumber]">
                                            <textarea style="width:100%" ng-model="order.paid"></textarea>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button ng-hide="editingData[order.orderNumber]" class="btn btn-warning btn-sm" ng-click="modify(order)">Изменить</button>
                                    <button ng-show="editingData[order.orderNumber]" class="btn btn-success btn-sm" ng-click="update(order, ship)">Обновить</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12" ng-show="filteredItems == 0">
                        <div class="col-md-12">
                            <h4>К сожалению не найдены заказы...</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>