
<div class="register-box" ng-controller="RegisterController">
  <div class="register-box-body">
    <h2 class="login-box-msg">Регистрация</h2>

    <form >
      <div class="form-group has-feedback">
        <input type="text" ng-model="fullname" class="form-control" placeholder="Имя">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="email" ng-model="regemail" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" ng-model="regpassword" class="form-control" placeholder="Пароль">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" ng-model = "repeatpassword" class="form-control" placeholder="Повторить пароль">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck"  style="margin-left: 20px;">
            <label>
              <!-- <input type="checkbox"> I agree to the <a>terms</a> -->
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="signup()">Регистрация</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <!-- <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a ng-click="facebook_signup()" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
        Facebook</a>
      <a ng-click="google_signup()" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
        Google+</a>
    </div> -->

    <a href="#/login" class="text-center">Уже есть аккаунт</a>
  </div>
  <!-- /.form-box -->
</div>