<div ng-app="app" ng-controller="MrkTemplateScheduleController">
    <h1 class="text-center">Timetable für das Template: {{id}} </h1>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div>
                        <td class="action-column">
                            <button type="button" class="btn btn-default btn-sm pull-right" ng-click="Cancel()">Zurück</button>
                        </td>
                    </div>
                    <br/>
                    <h4>Aktuelle Zeitberschänkung des Templates</h4>
                    <hr>
                    <table class="table table-hover table-bordered" bs-table>
                        <thead>
                            <tr>
                                <th>Start&nbsp;<a ng-click="predicate='spotId'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>End&nbsp;<a ng-click="predicate='name'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Frequenz&nbsp;
                                    <a ng-click="predicate='contractId'; reverse=!reverse"></a>
                                </th>
                                <th>Beim Tag&nbsp;
                                    <a ng-click="predicate='street'; reverse=!reverse"></a>
                                </th>
                                <th>Interval&nbsp;
                                    <a ng-click="predicate='postCode'; reverse=!reverse"></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rule in rules ">
                                <td>{{rule.start}}</td>
                                <td>{{rule.end}}</td>
                                <td>{{rule.recurrenceRule.frequency}}</td>
                                <td>{{rule.recurrenceRule.byDay}}</td>
                                <td>{{rule.recurrenceRule.interval}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-md-12" ng-show="filteredItems == 0">
                        <div class="col-md-12">
                            <h4>Zutzeit existieren keine Zeitnester für das Template...</h4>
                        </div>
                    </div>
                    <br/>
                    <h4>Neue Zeitbeschränkung anlegen</h4>
                    <hr>
                    <label for="noRules">Alle Timetables löschen:</label>
                    <input type="checkbox" ng-model="noRules.isSelected" />
                    <br>
                    <br>
                    <div class="row">
                        <div class="form-group col-md-3">Start:
                            <div class="datepicker-1">
                                <date-picker ng-model="datepicker" placeholder="Datum auswählen" callback="" format="yyyy-MM-dd" autohide="true"></date-picker>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div ng-disabled="noRules.isSelected" class="form-group col-md-3">Ende:
                            <div ng-disabled="noRules.isSelected" class="datepicker-1">
                                <date-picker ng-model="datepicker2" placeholder="Datum auswählen" callback="" format="yyyy-MM-dd" autohide="true"></date-picker>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="frequency">Frequency:</label>
                            <select ng-disabled="noRules.isSelected" class="form-control" ng-model="frequency">
                                <option>weekly</option>
                                <option>daily</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="byDay">By Day:</label>
                            <select ng-disabled="noRules.isSelected" class="form-control" ng-model="byDay">
                                <option>SU</option>
                                <option>MO</option>
                                <option>TU</option>
                                <option>WE</option>
                                <option>TH</option>
                                <option>FR</option>
                                <option>SA</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="interval">Interval:</label>
                            <select ng-disabled="noRules.isSelected" class="form-control" ng-model="interval">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <td class="action-column">
                        <button type="button" class="btn btn-warning btn-sm" ng-click="Cancel()">Abbrechen</button>
                    </td>
                    <td class="action-column">
                        <button ng-disabled="noRules.isSelected" type="button" class="btn btn-info btn-sm" ng-click="rulesSave(id)">Änderungen speichern</button>
                    </td>
                    <td class="action-column">
                        <button ng-disabled="!noRules.isSelected" type="button" class="btn btn-success  btn-sm" ng-click="noRulesSave(id)">No Rules</button>
                    </td>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
