<div ng-app="akva" ng-controller="SubCategoriesController">
    <h1>Подкатегории</h1>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Список категорий</h3>
                    <div class="row">
                        <div class="col-md-2">Размер страницы:
                            <select ng-model="entryLimit" class="form-control">
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                                <option>50</option>
                                <option>100</option>
                                <option>200</option>
                            </select>
                        </div>
                        <div class="col-md-3">Фильтр:
                            <input type="text" ng-model="search" ng-change="filter()" placeholder="Поиск подкатегорий..." class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <h5>Найдено {{ filtered.length }} из {{ totalItems}} подкатегорий</h5>
                        </div>
                    </div>
                    <div class="text-right">
                        <span><span ng-if="recentLoading">загрузка</span>Страница {{(currentPage )}} </span>
                        <button class="btn btn-primary btn-xs" ng-class="{ 'disabled': currentPage <= 0 }" ng-click="setPage(currentPage - 1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
                        <button class="btn btn-primary btn-xs" ng-click="setPage(currentPage + 1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
                    </div>
                    <div class="col-md-12" ng-show="filteredItems > 0">
                        <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>
                    </div>
                    <br />
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="allItems" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID<a ng-click="predicate='id'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a> </th>
                                <th>Категория&nbsp;<a ng-click="predicate='categoryId'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Название&nbsp;<a ng-click="predicate='name'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a> </th>
                                <th>LocalKey<a ng-click="predicate='localKey'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Создан&nbsp;<a ng-click="predicate='created'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Обновлен&nbsp;<a ng-click="predicate='modified'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in filtered = (groups | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td>{{item.tag}}</td>
                                <td>{{item.categoryId}}</td>
                                <td><a target="_blank" href="#/subgroup/{{item.tag}}/items">{{item.name}}</a></td>
                                <td>{{item.localKey}}</td>
                                <td>{{item.created}}</td>
                                <td>{{item.modified}}</td>
                            </tr>
                        </tbody>
                        <!--</tfoot>-->
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</div>