<div ng-app="wifi" ng-controller="TemplateViewController">
    <h1>
    Template: <small>{{id}}</small> 
        </h1>
    <h5 ng-id="toplevel.parent">Parent: {{topLevel.parent}} </h5>
    <div ng-show="topLevel.parent != null">
        <h5>Status:<small style="color:green;">{{stat}}</small>  </h5>
    </div>
<!--     <div ng-show="!topLevel.parent">
        <h4>Status:<small style="color:red;">{{stat}}</small> </h4>
    </div> -->
     <h5>Landing Page: {{tla.landingpage}}</h5>
     <h5 ng-show="tpl.reporting_mail != null || tpl.reporting_mail != ''">Reporting E-Mail: {{tpl.reporting_mail}}</h5>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <td class="action-column">
                        <button type="button" class="btn btn-default btn-sm pull-right" ng-click="Cancel()">Zurück</button>
                    </td>
                    <br><br>
                    <div class="row">
                        <div class="col-md-12" ng-show="tpl != null">
                            <table class="table table-hover table-bordered" bs-table>
                                <thead>
                                    <tr>
                                        <th>ID&nbsp;</th>
                                        <th>ARC&nbsp;</th>
                                        <!--                                         <th>Portal Url&nbsp;</th>
 -->
                                        <th>Level&nbsp;</th>
                                        <th>Groupname&nbsp;</th>
                                        <th>Adresse&nbsp;</th>
                                        <th>GEO&nbsp;</th>
                                        <!-- <th ng-show="tpl.ssid != null">SSIDs&nbsp;</th> -->
                                        <th ng-show="tpl.tags != null">Tags&nbsp;</th>
                                        <th>Modified&nbsp;</th>
                                        <!--<th style="width:10%">Info</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{id}}</td>
                                        <td>{{extContractId}}</td>
                                        <!--                                         <td>{{point.landingpage}}</td>
 -->
                                        <td>{{tpl.level}}</td>
                                        <td>{{tpl.groupname}}</td>
                                        <td>{{tpl.extlocation.street}} {{tpl.extlocation.zipcode}} {{tpl.extlocation.city}}</td>
                                        <td>{{tpl.extlocation.lat}} {{tpl.extlocation.lng}}</td>
<!--                                         <td ng-show="tpl.ssid != null">
                                            {{tpl.ssid}}
                                            <br>
                                        </td> -->
                                        <td ng-show="tpl.tags != null">
                                            {{tpl.tags}}
                                            <br>
                                        </td>
                                        <td>{{lastChanged}}</td>
                                        <!--<td>{{point.at}} {{point.au}} {{point.gn}} {{point.pc}}</td>-->
                                        <!--<td class="action-column">
                                            <button type="button" class="btn btn-info btn-sm" ng-click="Manage(point.spotId)">Info</button>
                                        </td>-->
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row" ng-show="tpl !=null">
                                <div class="col-sm-4">
                                    <h5>Hotspotfinder Info:</h5>
                                    <hr>
                                    <h5><b>Visible</b>: {{tpl.hfinfo.visible}}</h5>
                                    <h5><b>Weiterleitungs URL</b>: {{tpl.hfinfo.redirecturl}}</h5>
                                    <h5><b>Informations URL</b>: {{tpl.hfinfo.welcomelink}}</h5>
                                    <h5><b>Welcome Text</b>: {{tpl.hfinfo.welcometext}}</h5>
                                    <h5><b>HF Type</b>: {{tpl.hfinfo.type}}</h5>
                                    <h5><b>HF Name</b>: {{tpl.hfinfo.name}}</h5>
                                    <h5><b>Image Aspect Ratio</b>: {{tpl.hfinfo.backgroundimage_aspect_ratio}}</h5>
                                    <h5><b>Logo Aspect Ration</b>: {{tpl.hfinfo.logo_aspect_ratio}}</h5>
                                    <h5><b>Logo</b>:<a target="_blank"  href="https://88.134.247.4/static/logos/{{point.logo}}"></a>{{tpl.hfinfo.logo}}</h5>
                                    <h5><b>Background Image</b>: <a target="_blank"  href="https://88.134.247.4/static/logos/{{point.logo}}"></a>{{tpl.hfinfo.backgroundimage}}</h5>
                                    <br>
                                    <h5><b>Schedules</b></h5>
                                    <hr>
                                    <table ng-show="tpl.schedules != null" class="table table-hover table-bordered" bs-table>
                                        <thead>
                                            <tr>
                                                <th>Name&nbsp;</th>
                                                <th>Enabledt&nbsp;</th>
                                                <th>Offline Text&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="rule in tpl.schedules">
                                                <td>{{rule.name}}</td>
                                                <td>{{rule.enabled}}</td>
                                                <td>{{rule.offline_text}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    <h5><b>SSIDs</b></h5>
                                    <hr>
                                    <table ng-show="tpl.ssids != null" class="table table-hover table-bordered" bs-table>
                                        <thead>
                                            <tr>
                                                <th>Name&nbsp;</th>
                                                <th>Enabled&nbsp;</th>
                                                <th>WPA2&nbsp;</th>
                                                <th>Pass&nbsp;</th>
                                                <th>Schedule&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="ssid in tpl.ssids">
                                                <td>{{ssid.ssid}}</td>
                                                <td>{{ssid.enabled}}</td>
                                                <td>{{ssid.flags}}</td>
                                                <td>{{ssid.password}}</td>
                                                <td>{{ssid.schedule}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-4">
                                    <h5>Nutzungsbeschränkungen:</h5>
                                    <hr>
                                    <h5><b>Disabled</b>: {{tpl.features.disabled}}</h5>
                                    <h5><b>BW Upload</b>: {{tpl.features.bw_upload}}</h5>
                                    <h5><b>BW Download</b>: {{tpl.features.bw_download}}</h5>
                                    <h5><b>Jugendschutzfilter</b>: {{tpl.features.bpjmfilter}}</h5>
                                    <h5><b>Anrainermißbrauch</b>: {{tpl.features.block_neighbors}}</h5>
                                    <h5><b>Login Vodafone Nutzer zulassen:</b>: {{tpl.extrainfo.allow_vodafone_login}}</h5>
                                    <h5><b>Ticketkauf zulassen:</b>: {{tpl.extrainfo.allow_payment_options}}</h5>
                                    <h5><b>Pass Expression:</b>: {{tpl.password_expression}}</h5>
                                    <h5><b>Pass Details:</b>: {{tpl.password_details}}</h5>
                                </div>
                                <div class="col-sm-4">
                                    <h5>Permissions:</h5>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h5>SSIDs:</h5>
                                            <hr>
                                            <h5><b>add ssid</b>: {{tpl.permissions.ssid.add_ssid}}</h5>
                                            <h5><b>max ssid</b>: {{tpl.permissions.ssid.max_ssid}}</h5>
                                            <h5><b>edit ssid</b>: {{tpl.permissions.ssid.edit_ssid}}</h5>
                                            <h5><b>allow_encrypted</b>: {{tpl.permissions.ssid.allow_encrypted}}</h5>
                                            <h5><b>allow_schedule</b>: {{tpl.permissions.ssid.allow_schedule}}</h5>
                                            <br>
                                            <h5>Extlocation:</h5>
                                            <hr>
                                            <h5><b>edit street</b>: {{tpl.permissions.extlocation.edit_street}}</h5>
                                            <h5><b>edit zipcode</b>: {{tpl.permissions.extlocation.edit_zipcode}}</h5>
                                            <h5><b>edit city</b>: {{tpl.permissions.extlocation.edit_city}}</h5>
                                            <h5><b>location</b>: {{tpl.permissions.extlocation.edit_location}}</h5>
                                            <br>
                                            <h5>Rules&Extrainfo:</h5>
                                            <hr>
                                            <h5><b>edit timetable</b>: {{tpl.permissions.rules.edit_timetable}}</h5>
                                            <h5><b>max timetable</b>: {{tpl.permissions.rules.max_timetable}}</h5>
                                            <h5><b>csc login</b>: {{tpl.permissions.extrainfo.edit_allow_vodafone_login}}</h5>
                                            <h5><b>adhoc login</b>: {{tpl.permissions.extrainfo.edit_allow_payment_options}}</h5>
                                        </div>
                                        <div class="col-sm-6">
                                            <h5>hfinfo:</h5>
                                            <hr>
                                            <h5><b>edit name</b>: {{tpl.permissions.hfinfo.edit_name}}</h5>
                                            <h5><b>edit visible</b>: {{tpl.permissions.hfinfo.edit_visible}}</h5>
                                            <h5><b>edit type</b>: {{tpl.permissions.hfinfo.edit_type}}</h5>
                                            <h5><b>edit logo</b>: {{tpl.permissions.hfinfo.edit_logo}}</h5>
                                            <h5><b>edit backgr.image</b>: {{tpl.permissions.hfinfo.edit_backgroundimage}}</h5>
                                            <h5><b>edit welcometext</b>: {{tpl.permissions.hfinfo.edit_welcometext}}</h5>
                                            <h5><b>edit welcomelink</b>: {{tpl.permissions.hfinfo.edit_welcomelink}}</h5>
                                            <h5><b>edit welcomeurl</b>: {{tpl.permissions.hfinfo.edit_redirecturl}}</h5>
                                            <br>
                                            <h5>Features:</h5>
                                            <hr>
                                            <h5><b>edit disabled</b>: {{tpl.permissions.features.edit_disabled}}</h5>
                                            <h5><b>edit dw_upload</b>: {{tpl.permissions.features.edit_bw_upload}}</h5>
                                            <h5><b>edit dw_download</b>: {{tpl.permissions.features.edit_bw_download}}</h5>
                                            <h5><b>edit bpjm</b>: {{tpl.permissions.features.edit_bpjmfilter}}</h5>
                                            <h5><b>edit block neighbors</b>: {{tpl.permissions.features.edit_block_neighbors}}</h5></div>
                                    </div>
                                </div>
                                <div class="col-md-12" ng-show="totalItems == 0">
                                    <div class="col-md-12">
                                        <h4>Es wurde keine Info gefunden...</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h4>Accesspoints vom Hotspot: {{id}}</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <h5>Gefunden {{ totalItems}} Access points</h5>
                        </div>
                    </div>
                    <!-- /.row -->
                    <!-- /.box-header -->
                    <table class="table table-hover table-bordered table-striped" bs-table>
                        <thead>
                            <tr>
                                <th style="width:6%">SpotID&nbsp;<a ng-click="predicate='points.spotId'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <!-- <th>ID&nbsp;<a ng-click="predicate='apId'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th> -->
                                <th>Flags&nbsp;<a ng-click="predicate='flags'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>TG/PG&nbsp;<a ng-click="predicate='tgId'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>SN&nbsp;<a ng-click="predicate='name'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Name&nbsp;<a ng-click="predicate='name'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>MAC Ethernet&nbsp;<a ng-click="predicate='macEthernet'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th style="width:6%">MAC Wifi | CM&nbsp;<a ng-click="predicate='macWifi'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Adresse&nbsp;<a ng-click="predicate='zipcode'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>GEO&nbsp;<a ng-click="predicate='lat'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <!-- <th style="width:6%">Info/App url&nbsp;<a ng-click="predicate='lat'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th> -->
                                <!-- <th>Logo&nbsp;<a ng-click="predicate='tla'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th> -->
                                <th>ContractID&nbsp;<a ng-click="predicate='cid'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>CCB&nbsp;<a ng-click="predicate='cc'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>TLA&nbsp;<a ng-click="predicate='tla'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th style="width:7%">Konfig | Geplant&nbsp;</th>
                                <th>KN&nbsp;<a ng-click="predicate='tla'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th style="width:7%">Created | Modified&nbsp;</th>
                                <!-- <th>ARC&nbsp;<a ng-click="predicate='tla'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th> -->
                                <!--<th>At|au|gn|pc&nbsp;<a ng-click="predicate='at'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>-->
                                <!--<th style="width:10%">Info</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="point in points">
                                <td>{{point.spotId}}</td>
                                <!-- <td>{{point.apId}}</td> -->
                                <td>{{point.flags}}</td>
                                <td>{{point.tgId}}|{{point.pgId}}</td>
                                <td>{{point.sn}}</td>
                                <td>{{point.name}}</td>
                                <td><a href="#/ap/clients/list/{{point.macEthernet}}">{{point.macEthernet}}</a></td>
                                <td>{{point.macWifi}} {{point.macCableModem}}</td>
                                <td>{{point.street}} {{point.zipcode}} {{point.city}}</td>
                                <td>{{point.lng}} {{point.lat}}</td>
                                <!-- <td>{{point.welcomeLink}} {{point.au}}</td> -->
                                <!-- <td>{{point.Logo}}</td> -->
                                <td>{{point.cid}}</td>
                                <td>{{point.cc}}</td>
                                <td>{{point.tla}}</td>
                                <td>{{point.lcr}} {{point.supd}}</td>
                                <td>{{point.cuid}}</td>
                                <td>{{point.cre}} {{point.mod}}</td>
                                <!-- <td>{{point.ecid}}</td> -->
                                <!--<td>{{point.at}} {{point.au}} {{point.gn}} {{point.pc}}</td>-->
                                <!--<td class="action-column">
                                            <button type="button" class="btn btn-info btn-sm" ng-click="Manage(point.spotId)">Info</button>
                                        </td>-->
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div class="col-md-12" ng-show="totalItems == 0">
                        <div class="col-md-12">
                            <h4>Es wurden keine Access points für dieses Template gefunden...</h4>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>