[Unit]
Description=Node.js b2c-shop
#Requires=After=mysql.service       # Requires the mysql service to run first

[Service]
WorkingDirectory=/opt
ExecStart=/opt/node/node/bin/npx serve out
# Required on some systems
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=b2c-shop
#User=<alternate user>
#Group=<alternate group>
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target