<!DOCTYPE html>
<html ng-app='wifi'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Config Portal</title>
    <!-- Tell the browser to be responsive to screen width -->
           <script type="text/javascript" src="../../dist/js/proj/jquery.js"></script>
    <script type="text/javascript" src="../../dist/js/proj/underscore.js"></script>
    <script type="text/javascript" src="../../dist/js/proj/angular.js"></script>
    <script type="text/javascript" src="../../dist/js/proj/angular-route.js"></script>
    <script type="text/javascript" src="../../dist/js/proj/angular-resource.js"></script>
    <script type="text/javascript" src="../../dist/js/proj/moment.js"></script>
    <script type="text/javascript" src="../../dist/js/proj/angular-ui.js"></script>
    <script type="text/javascript" src="../../dist/js/proj/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="../../dist/js/proj/ui-bootstrap-tpls.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->



    <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="hold-transition skin-blue sidebar-mini" ng-controller="TemplatesController" >
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="../../index.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"></b>WLAN</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Bayern</b>WLAN</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="../../dist/img/wlan_logo.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>CTO WLAN Team</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MENU</li>

                    <li class="active treeview">
                        <a href="../../index.html">
                            <i class="fa fa-edit"></i> <span>Hotspots</span>
                            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="allTemplates.html"><i class="fa fa-circle-o"></i> Alle Templates</a></li>
                            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Planned</a></li>
                            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Anrainermissbrauch</a></li>
                            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Not configured</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-table"></i> <span>Accesspoints</span>
                            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                        </a>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i> <span>Export/Import</span>
                            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://confluence.technik.kabel-deutschland.de/display/KHot/Konfigurationsportal+-+Intern"><i class="fa fa-book"></i> <span>Documentation</span></a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Data Tables
                    <small>advanced tables</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Hotspots</a></li>
                    <li><a href="#">Alle Hotspots</a></li>
                    <li class="active">Templates</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Data Table With Full Features</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Rendering engine</th>
                                            <th>Browser</th>
                                            <th>Platform(s)</th>
                                            <th>Engine version</th>
                                            <th>CSS grade</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Trident</td>
                                            <td>Internet Explorer 4.0
                                            </td>
                                            <td>Win 95+</td>
                                            <td> 4</td>
                                            <td>X</td>
                                        </tr>
                                        <tr>
                                            <td>Trident</td>
                                            <td>Internet Explorer 5.0
                                            </td>
                                            <td>Win 95+</td>
                                            <td>5</td>
                                            <td>C</td>
                                        </tr>
                                        </tfoot>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->


                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Liste der Templates</h3>
                                <div class="row">
                                    <div class="col-md-2">Page Größe:
                                        <select ng-model="entryLimit" class="form-control">
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
                <option>200</option>
            </select>
                                    </div>
                                    <div class="col-md-3">Filter:
                                        <input type="text" ng-model="search" ng-change="filter()" placeholder="Template suchen" class="form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <h5>Gefunden {{ filtered.length }} von {{ totalItems}} Templates</h5>
                                    </div>
                                </div>

                                <div class="text-right">
                                    <span><span ng-if="recentLoading">loading</span>Page {{(currentPage )}} </span>
                                    <button
                                        class="btn btn-primary btn-xs" ng-class="{ 'disabled': currentPage <= 0 }" ng-click="setPage(currentPage - 1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
                                        <button class="btn btn-primary btn-xs" ng-click="setPage(currentPage + 1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
                                </div>
                                <div class="col-md-12" ng-show="filteredItems > 0">
                                    <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit"
                                        class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>
                                </div>
                                <br/>

                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Template ID</th>
                                            <th>ARC Nummer</th>
                                            <th>Groupname</th>
                                            <th>Name&nbsp;<a ng-click="predicate='hfinfo.name'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a>                                                </th>
                                            <th>State&nbsp;<a ng-click="predicate='state'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Straße&nbsp;
                                                <a ng-click="predicate='extlocation.street'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a>
                                            </th>
                                            <th>PLZ&nbsp;<a ng-click="predicate='extlocation.zipcode'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>City&nbsp;<a ng-click="predicate='extlocation.city'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Modified&nbsp;<a ng-click="predicate='lastChanged'; reverse=!reverse"><i class="glyphicon glyphicon-sort"></i></a></th>
                                            <th style="width:10%">Edit Template</th>
                                            <th style="width:10%">Schedule</th>
                                            <th style="width:10%">Bild hochladen</th>
                                            <th style="width:10%">Status</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="template in filtered = (templates | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                            <td><a href="#/template/view/{{template.id}}">{{template.id}}</a></td>
                                            <td>{{template.extContractId}}</td>
                                            <td>{{template.groupname}}</td>
                                            <td>{{template.hfinfo.name}}</td>
                                            <td>{{template.state}}</td>
                                            <td>{{template.extlocation.street}}</td>
                                            <td>{{template.extlocation.zipcode}}</td>
                                            <td>{{template.extlocation.city}}</td>
                                            <td>{{template.lastChanged}}</td>
                                            <td class="action-column">
                                                <button type="button" class="btn btn-warning btn-sm" ng-click="tplEdit(template.id)">Edit</button>
                                            </td>
                                            <td class="action-column">
                                                <button type="button" class="btn btn-info btn-sm" ng-click="tplTimetable(template.id)">Rules</button>
                                            </td>
                                            <td class="action-column">
                                                <button type="button" class="btn btn-success btn-sm" ng-click="tplBackImage(template.id)">Bild</button>
                                            </td>
                                            <td class="action-column">
                                                <button type="button" class="btn btn-primary btn-sm" ng-click="tplStatus(template.id)">Status</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>


            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>2016 <a href="http://hotspot.vodafone.de">Konfigirationsportal</a></strong>
        </footer>

        <!-- Control Sidebar -->
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->


    <script type="text/javascript" src="../../dist/js/base.js"></script>
    <script type="text/javascript" src="../../dist/js/rcSubmit.js"></script>

    <script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>
</body>
</div>
</html>